/* Estilos gerais */
body {
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #f5f5f5;
    color: #333;
}

body.dark-mode {
    background-color: #222;
    color: #eee;
}

.btn-custom {
    background-color: #ffc107; /* Amarelo */
    color: #222;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-custom:hover {
    background-color: #ffdb4d; /* Amarelo mais claro no hover */
    transform: scale(1.05);
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc; /* Cinza claro */
    margin: 5px 0;
    background-color: #f5f5f5; /* Cinza claro */
    border-radius: 4px;
}

li.done {
    text-decoration: line-through;
    color: gray;
}

canvas {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    max-width: 600px;
}

.modal-content {
    background-color: #222;
    color: #eee;
    border: 1px solid #444; /* Cinza mais escuro para bordas */
    border-radius: 10px;
}

.modal-content h1 {
    color: #fff;
}

.modal-content .close {
    color: #aaa;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #fff;
}

.timer-circle {
    border: 5px solid #ffc107; /* Amarelo */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0 auto 20px;
    background-color: #222;
}

.soundcloud-player {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

#Pizza {
    text-decoration: none;
    color: white;
    color:  black;
}

#user{
    display: flex;
    float: right;
    padding-bottom: 30px;
}

#add-amigo {
    text-decoration: none;
    color: white;
    color:  black;
}